.main {
	/* display: flex; */
	font-family: Chau Philomene One, serif;

}

body {
	color: pink;
	background-color: royalblue;
	/* text-transform: lowercase; */

}

.top {
	font-size: 100px;
}

.circle {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	line-height: 200px;
	text-align: center;
	display: inline-block;
	background-color: pink;
	color: royalblue;
	margin: 100px;
}

a:hover {
	color: darkblue;
}


.foto {
	border: 5px solid #ffffff;
	margin-left: 80px;
	margin-top: 100px;
	width: 200px;
	margin-bottom: auto;
	flex: 1;
}

.container {
	flex: 1;
}
